@use '../variables/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: colors.$dark-gray;
    font-family: Alata, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: colors.$black;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.25rem;
    line-height: 1.2;
    padding: 5px 0;
}

h1, h2 {
    font-size: 2rem;
}

img {
    width: 100%;
    height: auto;
}

.button {
    color: colors.$black;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 10px 50px;
    border: colors.$black 1px solid;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
    &--top {
        display: flex;
        justify-content: space-between;
        padding: 40px 20px;

        @media only screen and (min-width: 850px) {
            padding: 40px 60px;
        }

        @media only screen and (min-width: 850px) {
            padding: 40px 100px;
        }
    }

    &--text {
        color: colors.$white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        padding: 5px 10px;
        margin: 20px 30px;
        max-width: 600px;
        border: colors.$white 3px solid;

        @media only screen and (min-width: 400px) {
            font-size: 3rem;
        }
        @media only screen and (min-width: 850px) {
            margin-left: 60px;
        }

        @media only screen and (min-width: 850px) {
            margin-left: 100px;
        }
    }
}

.paragraph {
    margin: 20px 0;
    padding: 20px;
}

.text-and-image {
    &--content{
        display: flex;
        flex-direction: column;
        padding: 10px;

        
    }

    &--image {
        margin: 40px 0;
    }

    &--text {
        background-color: colors.$white;
        max-width: 600px;
        margin: 30px auto;
        padding: 10px;
        text-align: center;

        h2 {
            margin-bottom: 30px;
        }
    }

    @media only screen and (min-width: 1000px) {
        
        &--content {
            display: flex;
            justify-content: flex-end;
            padding: 40px;
        }

        &--image {
                img{
                height: 100%;
                max-height: 500px;
                left: 0;
                object-fit: cover;
                position: absolute;
                width: 60%;
                padding-left: 80px;
                }
        }

        &--text {
            background: #fff;
            margin: 170px 0 0 50%;
            max-width: 50%;
            padding: 80px;
            position: relative;
            z-index: 1;
        }
        
    }
}

.menu {
    display: inline;
    list-style: none;
    padding: 5px 0;
    
    &-main {
        @media only screen and (max-width: 600px){
            display: none;
        }

        a{
            color: white;
        }
    }

    li {
        display: inline;
        padding-left: 10px;

        @media only screen and (min-width: 850px) {
            padding-left: 20px;
        }

        a{
            text-decoration: none;
        }
    }
}

.cheeseburger-menu__item {
    justify-content: center;
}


#block-views-block-case-studies-block-1{
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 30px;
    max-width: 1400px;;

    @media only screen and (min-width: 700px) {
        padding: 0 60px;
    }

    @media only screen and (min-width: 1200px) {
        padding: 0 100px;
    }

    h2 {
        @media only screen and (min-width: 850) {
            padding: 0 40px;
        }
    }

    header {
        text-align: right;
        height: 1px;
        @media only screen and (min-width: 1300px) {
            padding-right: 20px;
        }

        .top-button {
        display: none;
            @media only screen and (min-width: 850px) {
                display: inline-block;
                transform: translateY(-50px);
            }
        }
    }
    
    footer {
        text-align: center;

        .bottom-button {
        @media only screen and (min-width: 850px) {
            display: none;
        }
    }
    }
    

    .views-view-grid {
        display: flex;
        padding: 30px 0;
        flex-direction: column;

        .row {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: row;

            @media only screen and (min-width: 850px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 40px 40px;
                padding-bottom: 40px;
            }

            @media only screen and (min-width: 1100px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px 20px;
            padding-bottom: 20px;
            }
        }

        
    
        .card {
            position: relative;
    
            h2 {
                position: absolute;
                bottom: 10px;
                left: 10px;
                text-transform: uppercase;
                max-width: 300px;
            }
            
            a {
                color: colors.$white;
                text-decoration: none;
            }

            .field-casestudy-image {
                display: inline-flex;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
                z-index: 1;
                @media only screen and (min-width: 1100px){
                    display: none;
                }
            }

            .field-casestudy-vertical-image {
                display: none;

                @media only screen and (min-width: 1100px) {
                    display: inline-flex;
                    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25));
                    z-index: 1;
                }
                
            }
        }
    }
}

.node-readmore {
    display: none;
}

.footer {
    color: white;
    background-color: black;
    min-height: 200px;

    @media only screen and (min-width: 700px) {
        min-height: 160px;
    }
    
    .container {
        text-align: center;
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px;

        @media only screen and (min-width: 700px) {
            text-align: left;
            display: flex;
                justify-content: space-between;
            padding: 20px 40px;
            }
        @media only screen and (min-width: 850px) {
            padding: 20px 60px;
        }
        @media only screen and (min-width: 1100px) {
            padding: 20px 100px;
        }
    }

    a {
        color: white;
        text-decoration: none;
    }

    .footer-one {
        margin: 0 auto;
        margin-top: 20px;
        max-width: 60%;
        @media only screen and (min-width: 700px) {
            margin: 0;
            max-width: none;
        }

        li {
            padding: 10px;
        }

        #block-sitebranding {
            padding: 20px;
            @media only screen and (min-width: 700px) {
                max-width: 160px;
                padding-left: 10px;
            }
        }
    }

    #block-views-block-icons-block-1 {
        margin: 20px 0;
        li {
            display: inline;
            padding-left: 10px;
        }
        .icon {
            display: inline-block;
            height: 25px;
            width: 25px;
            
        }

        @media only screen and (min-width: 700px) {
            text-align: right;
        }
    }

    #block-smalltext {
        color: colors.$dark-gray;
    }

    .menu {

        &-item {
            display: inline;

            @media only screen and (max-width: 700px) {
                display: block;
            }
        }
    }
}