@use 'variables/colors';

#block-views-block-case-studies-block-1{
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 30px;
    max-width: 1400px;;

    @media only screen and (min-width: 700px) {
        padding: 0 60px;
    }

    @media only screen and (min-width: 1200px) {
        padding: 0 100px;
    }

    h2 {
        @media only screen and (min-width: 850) {
            padding: 0 40px;
        }
    }

    header {
        text-align: right;
        height: 1px;
        @media only screen and (min-width: 1300px) {
            padding-right: 20px;
        }

        .top-button {
        display: none;
            @media only screen and (min-width: 850px) {
                display: inline-block;
                transform: translateY(-50px);
            }
        }
    }
    
    footer {
        text-align: center;

        .bottom-button {
        @media only screen and (min-width: 850px) {
            display: none;
        }
    }
    }
    

    .views-view-grid {
        display: flex;
        padding: 30px 0;
        flex-direction: column;

        .row {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            grid-gap: 20px;

            @media only screen and (min-width: 850px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px 20px;
                padding-bottom: 20px;
            }

            @media only screen and (min-width: 1100px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px 20px;
            padding-bottom: 40px;
            }
        }

        
    
        .card {
            position: relative;
    
            h2 {
                position: absolute;
                bottom: 10px;
                left: 10px;
                text-transform: uppercase;
                max-width: 60%;
                z-index: 1;

                @media only screen and (min-width: 1100px) {
                    max-width: 300px;
                    bottom: 15px;
                    left: 15px;
                }
            }
            
            a {
                color: colors.$white;
                text-decoration: none;
            }

            .gradient {
                position: relative;
                display: inline-block;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0));
                //To stop extra whitespace from appearing
                font-size: 0;

                img {
                    position: relative;
                    z-index: -1;
                }

                @media only screen and (min-width: 1100px){
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60));
                }
            }
        }
    }
}